.out {
  /* background-color: aqua;   */
}
.cards {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 95vh;
  font-family: sans-serif;
}
.card,
.card-inside,
.search {
  width: 100%;
  height: 85vh;
}
.search {
  width: 100%;
  height: 67vh;
}
.left {
  margin-top: 10vh;
  width: 55%;
}
.profile,
.number,
.mini-profile-inside,
.description,
.mp-photo,
.mp-name,
.search-inside,
.search,
.right,
.newmeow,
.follow,
.aaa {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.photo,
.name,
.numbers,
.mini-profile {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.photo {
  height: 35vh;
}
.photo-inside {
  height: 16vh;
  width: 35%;
  border-radius: 50%;
  font-size: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.name {
  height: 8vh;
  flex-direction: column;
}
.numbers {
  height: 12vh;
}
.number-inside {
  width: 30%;
}
.mini-profile {
  height: 25vh;
}
.mini-profile-inside {
  flex-direction: row;
  height: 15vh;
  width: 60%;
}
.mp-photo {
  height: 10vh;
  width: 35%;
  border: 2px solid rgba(255, 170, 12, 0.594);
  border-radius: 50%;
  justify-content: center;
  font-size: 6vh;
}
.mp-name {
  height: 10vh;
  width: 65%;
  justify-content: center;
  margin-left: 5%;
}
.space {
  width: 100%;
  background-color: rgba(255, 170, 12, 0.594);
  margin-bottom: 2vh;
}

.meow-user,
.meow-content,
.meow-others {
  margin: 1vh 0;
}
.meow-user,
.others,
.button,
.foundUser-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.others {
  height: 84vh;
}
.meow-content {
  min-height: 3vh;
  /* height: 10vh; */
  margin: 0;
}
.meow-others {
  display: flex;
  padding-left: 12%;
  justify-content: space-between;
}
.meow-user-photo {
  width: 15%;
  height: 10vh;
  margin: 0 3%;
  margin-top: 2vh;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6vh;
}
.meow-right {
  width: 79%;
}
.date {
  height: 4vh;
  width: 40%;
  border: 2px dotted tomato;
  border-radius: 25px;
  margin-right: 18%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 3%;
}
.like {
  display: flex;
  width: 15%;
  justify-content: space-between;
}
.like-number {
  font-size: 3vh;
}

.search-inside {
  margin-top: 22vh;
  width: 80%;
}
.newmeow {
  height: 24vh;
  margin-top: 21vh;
  width: 95%;
  border-bottom: 1px dotted rgba(255, 170, 12, 0.594);
}
.textbox {
  margin: 1vh 0;
  min-height: 13vh;
  max-height: 13vh;
  min-width: 80%;
  max-width: 80%;
  font-size: 3vh;
  text-indent: 3%;
  padding-top: 1vh;
}
.button {
  justify-content: space-around;
  width: 80%;
  height: 4vh;
}
.char,
.send {
  width: 40%;
  height: 3vh;
}

.send {
  background-color: rgba(255, 170, 12, 0.594);
}
.inputer {
  height: 6vh;
  width: 100%;
  padding-left: 3%;
  font-size: 4vh;
  border: 5px solid rgba(255, 170, 12, 0.594);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.right {
  width: 40%;
  margin-left: 3%;
}
.get-button {
  margin-top: 3vh;
  height: 10vh;
  width: 40%;
  border-radius: 25px;
  border: none;
  background-color: rgba(35, 35, 167, 0.484);
  font-size: 4vh;
  font-family: Arial, Helvetica, sans-serif;
}
.message {
  animation: shake 1s;
  padding-left: 10px;
  color: red;
  height: 3vh;
  font-size: 3vh;
}
@keyframes shake {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-10px, 0);
  }
  20% {
    transform: translate(10px, 0);
  }
  30% {
    transform: translate(-10px, 0);
  }
  40% {
    transform: translate(10px, 0);
  }
  50% {
    transform: translate(-10px, 0);
  }
  60% {
    transform: translate(10px, 0);
  }
  70% {
    transform: translate(-10px, 0);
  }
  80% {
    transform: translate(10px, 0);
  }
  90% {
    transform: translate(-10px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
.foundUser {
  width: 80%;
  padding-top: 5vh;
  height: 20vh;
}
.foundUser-inner {
  height: 10vh;
  width: 80%;
  padding-bottom: 10vh;
}
.exit {
  width: 80%;
  height: 6vh;
  font-size: 5vh;
  color: black;
  text-align: right;
  margin-top: 2vh;
  cursor: pointer;
}
.follow {
  width: 80%;
  height: 6vh;
  justify-content: center;
}
.follow-button {
  height: 5vh;
  width: 50%;
  background-color: rgba(255, 170, 12, 0.594);
  font-size: 3vh;
}
.number {
  font-family: "Times New Roman", Times, serif;
}
.number:hover {
  text-decoration: underline;
}
.user-detail-left {
  height: 14vh;
  width: 100%;
}
.user-detail-right {
  height: 14vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.top,
.bot {
  height: 5vh;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.t {
  margin-top: 1vh;
}
.usrname {
  display: flex;
}
.toleft {
  margin-left: 2%;
}
.real-name {
  display: flex;
}
.edit {
  margin-left: 25%;
}
.zero-follow-text {
  margin-top: 3vh;
  margin-left: 5%;
  color: rgb(35, 35, 167);
}
